*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.container img{
  width:100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container #car{
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 120px;
  left: 20px;
  animation: carMove 5s ease-in-out infinite;
}

@keyframes carMove {
  100%{
    transform: translateX(1300px);
    animation-play-state: running;
  }
}

.container #tLight{
  width: 10px;
  height: 200px;
  border-radius: 20px;
  position: absolute;
  right: 135px;
  bottom:5%;
  background-color: black;
}

.container #red{
  background-color: rgb(168, 14, 14);
  border-radius: 30px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  position: absolute;
  bottom: 115px;
  right: 125px;
}
.container #green{
  background-color: rgb(5, 235, 5);
  border-radius: 30px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  position: absolute;
  bottom: 195px;
  right: 125px;
}
.container #yellow{
  background-color: rgb(180, 180, 7);
  border-radius: 30px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  position: absolute;
  bottom: 155px;
  right: 125px;
}

/* ############# media query ######################## */

@media (max-width: 470px)  {
  .container #tLight{
    right: 45px;
    bottom:5%;
  }
  
  .container #red{
    right: 35px;
  }
  .container #green{
    right: 35px;
  }
  .container #yellow{
    right: 35px;
  }
  .container #car{
    bottom:20%;
    width: 120px;
  }
  @keyframes carMove {
    100%{
      transform: translateX(500px);
    }
  }
  
}